<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing_baba">

  <test  name="LoginTest"> 
    <classes>
     <class name="test.Testingbaba_LoginTest"/> 
      </classes>
      </test> 
          
       <test  name="Textbox">
       <classes>
      <class name="test.Testingbaba_TextBoxTest"/>    
    </classes>
  </test> 
  
  <test  name="Checkbox">
       <classes>
      <class name="test.Testingbaba_CheckboxTest"/>     
    </classes>
  </test> 
  
  <test  name="Radiobutton">
       <classes>
      <class name="test.Testingbaba_RadiobuttonTest"/> 
    </classes>
  </test> 
  
  <test  name="WebTable">
       <classes>
      <class name="test.Testingbaba_WebtableTest"/>    
    </classes>
  </test> 
  
  
   <test  name="Buttons">
       <classes>
      <class name="test.Testingbaba_ButtonTest"/>     
    </classes>
  </test> 
  
   <test  name="Links" >
       <classes>
      <class name="test.Testingbaba_linksTest"/>   
    </classes>
  </test> 
  
  <test  name="Uploadfile">
       <classes>
      <class name="test.Testingbaba_UploadfileTest"/>     
    </classes>
  </test> 
  
   <test  name="DaynamicProperties">
       <classes>
      <class name="test.Testingbaba_DaynamicPropertiesTest"/>     
    </classes>
  </test> 
  
  
  <test  name="Browser_Windows">
       <classes>
      <class name="test.Testingbaba_browserwindowTest"/>     
    </classes>
  </test> 
  
  <test  name="Alarts">
       <classes>
      <class name="test.Testingbaba_alartTest"/>     
    </classes>
  </test> 
  
   <test  name="Frame">
       <classes>
      <class name="test.Testingbaba_FrameTest"/>     
    </classes>
  </test> 
  
  <test  name="NestedFrame">
       <classes>
      <class name="test.Testingbaba_FrameTest"/>   
    </classes>
  </test> 
  
  <test  name="Modal_Dialoges">
       <classes>
      <class name="test.Testingbaba_ModalDilogsTest"/>   
    </classes>
  </test> 
  
  <test  name="Accordion">
       <classes>
      <class name="test.Testingbaba_AccordionTest"/>   
    </classes>
  </test> 
  
   <test  name="AutoComplete">
       <classes>
      <class name="test.Testingbaba_AutoCompleteTest"/>   
    </classes>
  </test> 
  
  <test  name="Progessbar">
       <classes>
      <class name="test.Testingbaba_ProgessbarTest"/>   
    </classes>
  </test> 
  
  <test  name="Tooltip">
       <classes>
      <class name="test.Testingbaba_TooltipTest"/>   
    </classes>
  </test> 
  
  
   <test  name="Select_Menu">
       <classes>
      <class name="test.Testingbaba_SelectMenuTest"/>   
    </classes>
  </test> 
  
  <test  name="DatePicker">
       <classes>
      <class name="test.Testingbaba_DatePickerTest"/>   
    </classes>
  </test> 
  
</suite> <!-- Suite -->
